<html xmlns:th="http://www.thymeleaf.org">

    <body>
        Recordings:
        <ul>
            <li th:each="folder : ${folders}">
                <a th:href="${'/folder/' + folder}" th:text="${folder}"/>
            </li>
        </ul>

        <div th:if="${selectedFolder != null}">
            Selected folder: [[${selectedFolder}]]
            <ul>
                <li th:each="file : ${folderContent}" th:text="${file}">

                </li>
            </ul>
        </div>
    </body>

</html>